<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Change User Password</h1>
    <p class="lead"></p>
    <%= form_for(:user, url: "/admin/user/password/#{params[:id]}") do |f| %>
            <div class="form-group">
                <%= f.password_field :password, :placeholder => "Password", class: "form-control" %>
            </div>
            <%= f.submit "Change Password", class: "btn btn-primary" %>
        <% end %>
  </div>
</div>
