<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Admin Area</h1>
    <p class="lead">These are tools intended to help you manage the database.</p>
    <hr />
    <table class="table table-dark">
        <thead>
            <tr>
                <th scope="col">Tool</th>
                <th scope="col">Details</th>
            </tr>
        </thead>
        <tbody>
            <tr>
              <td><a href="/admin/hack/add">Add Hack</a></td>
              <td>Adds a hack to the database</td>
            </tr>
            <tr>
              <td><a href="/admin/user/list">List Users</a></td>
              <td>Lists registered users.</td>
            </tr>
            <tr>
              <td><a href="/admin/reports/list">View User Reports</a></td>
              <td>Lists reported hacks.</td>
            </tr>
        </tbody>
    </table>
    <p>Need something not listed here? Please search the issues listed at <a href="https://gitlab.com/sm64hacks/webapp/issues">https://gitlab.com/sm64hacks/webapp/issues</a> and create one if your concern is not already being tracked.</p>
  </div>
</div>
