<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">List Users</h1>
    <p class="lead">This is a list of all users in the database.</p>
    <table class="table table-dark">
        <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Email</th>
                <th scope="col">Is Admin</th>
                <th scope="col">Actions</th>
            </tr>
        </thead>
        <tbody>
            <% if @users %>
                <% @users.each do |item| %>
                    <tr>
                        <td><%= item.id %></td>
                        <td><%= item.email %></td>
                        <td><%= item.admin %></td>
                        <td><a href="/admin/user/password/<%= item.id %>" class="btn btn-primary">Change Password</a> <a href="/admin/user/grant/<%= item.id %>" class="btn btn-primary">Grant Admin</a> <a href="/admin/user/revoke/<%= item.id %>" class="btn btn-primary">Revoke Admin</a> <a href="/admin/user/delete/<%= item.id %>" class="btn btn-danger">Delete</a></td>
                    </tr>
                <% end %>
            <% end %>
        </tbody>
    </table>
  </div>
</div>
