<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">List User Reports</h1>
    <p class="lead">This is a list of all reports in the database.</p>
    <table class="table table-dark">
        <thead>
            <tr>
                <th scope="col">Report ID</th>
                <th scope="col">Hack ID</th>
                <th scope="col">Reason</th>
                <th scope="col">IP Address</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <% if @reports %>
                <% @reports.each do |item| %>
                    <tr>
                        <td><%= item.id %></td>
                        <td><a href="/hack/<%= item.hack_id %>"><%= item.hack_id %></a></td>
                        <td><%= item.reason %></td>
                        <td><a href="/admin/reports/<%= item.id %>/ipaddress" class="btn btn-primary">View IP Address</a></td>
                        <td><a href="/admin/reports/delete/<%= item.id %>" class="btn btn-danger">Delete Report</a> &nbsp; &nbsp; <a href="/admin/reports/ban/<%= item.id %>" class="btn btn-danger">Ban IP Address & Delete All Reports</a></td>
                    </tr>
                <% end %>
            <% else %>
                <tr>
                    <td>Yay! There are no user reports!</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            <% end %>
        </tbody>
    </table>
  </div>
</div>
