<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Add Version to <%= @hack.name %></h1>
    <hr />
        <%= form_for(:download, url: "/hack/version/create/#{@hack.id}") do |f| %>
            <div class="form-group">
                <label for="version"><strong>Version:</strong></label><br />
                <%= f.text_field :version, :placeholder => "Version", required: true, class: "form-control" %>
            </div>
            <div class="form-group">
                <label for="comment"><strong>Comment:</strong></label><br />
                <%= f.text_field :comment, :placeholder => "Comment", required: true, class: "form-control" %>
            </div>
            <div class="form-group">
                <label for="contributors"><strong>Contributors:</strong></label><br />
                <%= f.text_field :contributors, :placeholder => "Contributors", required: true, class: "form-control" %>
            </div>
            <div class="form-group">
                <label for="everdrive"><strong>Everdrive Compatible:</strong></label><br />
                <%= f.text_field :everdrive, :placeholder => "Everdrive", required: true, class: "form-control" %>
            </div>
            <div class="form-group">
                <label for="release_date"><strong>Release Date:</strong></label><br />
                <%= f.text_field :release_date, :placeholder => "Release Date", required: true, class: "form-control" %>
            </div>
            <div class="form-group">
                <label for="download_url"><strong>Download URL:</strong></label><br />
                <%= f.text_field :download_url, :placeholder => "Download URL", required: true, class: "form-control" %>
            </div>
            <%= f.hidden_field :hack_id, value: @hack.id %>
            <%= f.submit "Create Version", class: "btn btn-primary" %>
        <% end %>
  </div>
</div>
