<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Edit Hack</h1>
    <hr />
		<%= form_for(:hack, url: "/hack/save/#{@hack.id}") do |f| %>
            <div class="form-group">
                <label for="name"><strong>Name:</strong></label><br />
                <%= f.text_field :name, :placeholder => "Name", value: @hack.name, required: true, class: "form-control" %>
            </div>
            <div class="form-group">
                <label for="description"><strong>Description:</strong></label><br />
                <%= f.text_field :description, :placeholder => "Description", value: @hack.description, required: true, class: "form-control" %>
            </div>
            <div class="form-group">
                <label for="creator"><strong>Creator:</strong></label><br />
                <%= f.text_field :creator, :placeholder => "Creator", value: @hack.creator, required: true, class: "form-control" %>
            </div>
            <div class="form-group">
                <label for="download_url"><strong>Download URL:</strong></label><br />
                <%= f.text_field :download_url, :placeholder => "Download URL", value: @hack.download_url, required: false, class: "form-control" %>
            </div>
            <div class="form-group">
                <label for="youtube_url"><strong>YouTube ID:</strong></label><br />
                <%= f.text_field :youtube_url, :placeholder => "YouTube ID", value: @hack.youtube_url, required: false, class: "form-control" %>
            </div>
            <div class="form-group">
                <label for="fandom_link"><strong>Fandom/Wikia Link:</strong></label><br />
                <%= f.text_field :fandom_link, :placeholder => "", value: @hack.fandom_link, required: false, class: "form-control" %>
            </div>
            <div class="form-group">
                <label for="difficulty"><strong>Difficulty:</strong></label><br />
                <%= f.text_field :difficulty, value: @hack.difficulty, required: true, class: "form-control" %>
            </div>
            <div class="form-group">
                <label for="total_stars"><strong>Total Stars:</strong></label><br />
                <%= f.text_field :total_stars, value: @hack.total_stars, required: true, class: "form-control" %>
            </div>
            <div class="form-group">
                <label for="required_stars"><strong>Required Stars:</strong></label><br />
                <%= f.text_field :required_stars, value: @hack.required_stars, required: true, class: "form-control" %>
            </div>
            <%= f.submit "Save Changes", class: "btn btn-primary" %>
        <% end %>
  </div>
</div>
