<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Edit Version <%= @download[:version] %> of <%= @hack[:name] %></h1>
    <hr />
        <%= form_for(:download, url: "/hack/version/save/#{@download[:id]}") do |f| %>
            <div class="form-group">
                <label for="version"><strong>Version:</strong></label><br />
                <%= f.text_field :version, :placeholder => "Version", value: @download[:version], required: true, class: "form-control" %>
            </div>
            <div class="form-group">
                <label for="comment"><strong>Comment:</strong></label><br />
                <%= f.text_field :comment, :placeholder => "Comment", value: @download[:comment], required: true, class: "form-control" %>
            </div>
            <div class="form-group">
                <label for="contributors"><strong>Contributors:</strong></label><br />
                <%= f.text_field :contributors, :placeholder => "Contributors", value: @download[:contributors], required: true, class: "form-control" %>
            </div>
            <div class="form-group">
                <label for="everdrive"><strong>Everdrive Compatible:</strong></label><br />
                <%= f.text_field :everdrive, :placeholder => "Everdrive", value: @download[:everdrive], required: true, class: "form-control" %>
            </div>
            <div class="form-group">
                <label for="release_date"><strong>Release Date:</strong></label><br />
                <%= f.text_field :release_date, :placeholder => "Release Date", value: @download[:release_date], required: true, class: "form-control" %>
            </div>
            <div class="form-group">
                <label for="download_url"><strong>Download URL:</strong></label><br />
                <%= f.text_field :download_url, :placeholder => "Download URL", value: @download.download_url, required: true, class: "form-control" %>
            </div>
            <%= f.hidden_field :hack_id, value: @hack.id %>
            <%= f.submit "Save Changes", class: "btn btn-primary" %>
        <% end %>
  </div>
</div>
