<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Help</h1>
    <p class="lead">This page contains information on using the hacks database.</p>
    <hr />

    <h2>How do I add a hack to the database?</h2>
    <p>If you're an administrator you'll find tools in the <a href="/admin">admin area</a>. If you are not an administrator please request the hack to be added by creating a thread at <a href="https://sm64hacks.com/">https://sm64hacks.com/</a></p>
  </div>
</div>