<div class="jumbotron">
  <h1 class="display-4">Welcome to the SM64Hacks HacksDB</h1>
  <p class="lead">This is a simple open access database of every Super Mario 64 ROM Hack.</p>
  <hr class="my-4">
  <p>This web application contains tools to view, search, add, and edit data of known ROM Hacks.</p>
  <a class="btn btn-primary btn-lg" href="/search" role="button">Find a hack</a>
</div>