<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Data requested!</h1>
    <p class="lead">Your data request (Request ID # <%= params[:id] %>) has been submitted and will be reviewed and furfilled by a member of the site's security team as soon as possible. If you have not recieved a response in 24 hours to your request please page @Staff on the Discord Chat in the #Staff channel. Please write down the Request ID somewhere safely before closing this tab.</p>
  </div>
</div>