<!DOCTYPE html>
<html>
  <head>
    <title>HacksDB - <%= @page_title %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js" integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>
  </head>

  <body>
   <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="/">HacksDB</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item active">
            <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/all">All Hacks</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/random">Random Hack</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" href="/search">Search Hacks</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link" href="/help">Help</a>
          </li>
          <% if current_user %>
            <% if current_user.admin %>
              <li class="nav-item">
                <a class="nav-link" href="/admin">Admin Area</a>
              </li>
            <% end %>
          <% end %>
        </ul>
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
          <% if current_user %>
            <li class="nav-item">
              <%= link_to "Log out", logout_path, method: "delete", class: 'nav-link' %>
            </li>
          </ul>
          <% else %>
          <li class="nav-item">
            <%= link_to "Login", '/login', class: 'nav-link' %>
          </li> 
          <li class="nav-item">
            <%= link_to "Signup", '/signup', class: 'nav-link' %>
          </li> 
          <% end %>
        </ul>
      </div>
    </nav>
    <%= yield %>
    <p class="text-center" style="font-style: italics;">Coded with ❤️ by <a href="https://gitlab.com/nsuchy">Nathaniel Suchy</a></p>
  </body>
</html>
